[core]
    excludesfile = ~/.gitignore
    editor = vim
    autocrlf = input
    eol = lf

[rerere]
    enabled = true

; [pager]
    ; diff = diff-so-fancy | less --tabs=4 -RFX
    ; show = diff-so-fancy | less --tabs=4 -RFX

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[color]
    ui = true

; # Colors from https://github.com/so-fancy/diff-so-fancy#improved-colors-for-the-highlighted-bits
; [color "diff-highlight"]
    ; oldNormal = red bold
    ; oldHighlight = red bold 52
    ; newNormal = green bold
    ; newHighlight = green bold 22

# Colors from https://github.com/so-fancy/diff-so-fancy#improved-colors-for-the-highlighted-bits
; [color "diff"]
    ; meta = 11
    ; frag = magenta bold
    ; commit = yellow bold
    ; old = red bold
    ; new = green bold
    ; whitespace = red reverse

[delta]
    syntax-theme = ansi
    side-by-side = true

[pull]
    ff = only

[rebase]
    autosquash = true

[alias]
    last = log -1 HEAD
    slast = show HEAD

[init]
    defaultBranch = main

[user]
    name = Kirill Fedorov
    email = mistake.klg@gmail.com

[credential]
    helper =
    # Resolves to `git credential-manager` through PATH.
    helper = manager

[diff "ansible-vault"]
    textconv = ansible-vault view

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[include]
    path = ~/.gitconfig.local
