---

- name: Tap repositories
  community.general.homebrew_tap:
    name:
      # https://github.com/Homebrew/homebrew-cask-fonts
      - homebrew/cask-fonts
      - homebrew/cask-versions
      - hashicorp/tap
      # https://github.com/buo/homebrew-cask-upgrade
      - buo/cask-upgrade
      - hakky54/crip
      - jetpackduba/apps
      - micronaut-projects/tap
      - yuccastream/tap
- name: Homebrew | Install packages
  community.general.homebrew:
    name: "{{ item.name }}"
  loop: "{{ macbook_homebrew_packages }}"
- name: Install casks
  community.general.homebrew_cask:
    name: "{{ item.name }}"
    state: present
  loop: "{{ macbook_homebrew_casks }}"
# ansible.builtin.osx_defaults doesn't support dict values
- name: MacOS | Check iTerm2 themes installed
  ansible.builtin.command: /usr/libexec/PlistBuddy -c 'print :"Custom Color Presets"' \
    ~/Library/Preferences/com.googlecode.iterm2.plist
  changed_when: false
  ignore_errors: true
  register: macos_iterm2_themes_installed
- name: MacOS | Install iTerm2 themes
  when: "'Does Not Exist' in macos_iterm2_themes_installed.stderr"
  block:
    - name: MacOS | iTerm2 | Clone color schemes repo
      ansible.builtin.git:
        repo: https://github.com/mbadolato/iTerm2-Color-Schemes.git
        dest: "{{ macbook_macos_iterm2_color_schemes_dir }}"
        clone: true
        depth: 1
        single_branch: true
        version: master
    - name: MacOS | iTerm2 | Import color scheme
      ansible.builtin.command: "{{ macbook_macos_iterm2_color_schemes_dir }}/tools\
        /import-scheme.sh {{ item }}"
      changed_when: true
      with_fileglob:
        - "{{ macbook_macos_iterm2_color_schemes_dir }}/schemes/*"
  always:
    - name: MacOS | iTerm2 | Remove cloned repo
      ansible.builtin.file:
        path: /tmp/mbadolato
        state: absent
